<div class="admin-container scroll-container">
  <h5>{{'order' | translate | plural}}</h5>
  <div class="container-table content-scroll">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Total</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        @for (order of orders; track order.id) {
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.userId }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.totalAmount }}</td>
          <td>{{ order.createdAt | date: 'dd-MM-yyyy' }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>