<div class="admin-container scroll-container">
  <section class="table-header d-flex align-items-center justify-content-between">
    <div class="d-flex gap-2 align-items-center form">
      <app-field-container [label]="'search' | translate" [control]="form.controls.name">
        <mat-form-field appearance="outline">
          <input matInput name="search" appInputBouncer (keyUpBouncer)="onSearch($event)" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </app-field-container>
      <app-field-container [label]="'category' | translate" [control]="form.controls.category">
        <mat-form-field appearance="outline">
          <mat-select [formControl]="form.controls.category" [placeholder]="'all' | translate"
            (selectionChange)="onCategoryChange($event.value)">
            <mat-option [value]="''">{{ 'all' | translate }}</mat-option>
            @for (cat of categories; track $index) {
            <mat-option [value]="cat">{{ cat | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </app-field-container>
      <app-field-container [label]="'subcategory' | translate" [control]="form.controls.subcategory">
        <mat-form-field appearance="outline">
          <mat-select [formControl]="form.controls.subcategory" [placeholder]="'all' | translate"
            (selectionChange)="onSubcategoryChange($event.value)">
            <mat-option [value]="''">{{ 'all' | translate }}</mat-option>
            @for (cat of categories; track $index) {
            <mat-option [value]="cat">{{ cat | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </app-field-container>
    </div>
    <div class="top-btn ms-auto">
      <button mat-raised-button color="primary" class="create" routerLink="create">
        <mat-icon>add</mat-icon>
        <span class="ms-1">{{ 'create' | translate }}</span>
      </button>
    </div>
  </section>
  <div class="container-table content-scroll">
    <table class="table">
      <thead>
        <tr>
          <th class="number">{{ 'no.' | translate }}</th>
          <th>{{ 'code' | translate }}</th>
          <th>{{ 'name' | translate }}</th>
          <th>{{ 'category' | translate }}</th>
          <th>{{ 'price' | translate }}</th>
          <th>{{ 'stock' | translate }}</th>
          <th class="action">{{ 'action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track $index) {
        <tr>
          <td class="number">{{ ($index + 1 + ((page - 1) * limit))}}</td>
          <td>#{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category | translate}}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.stock }}</td>
          <td class="action">
            <button class="btn" mat-icon-button color="primary" class="edit" [routerLink]="[product._id, 'update']"
              type="button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete" (click)="deleteProduct(product._id!)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">{{ "no_data" | translate }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if (products.length > 0) {
  <div class="table-footer content-footer">
    <app-pagination [total]="totalCount ?? 0" [limit]="limit" [page]="page"
      (changed)="getList($event)"></app-pagination>
  </div>
  }
</div>