.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background: #ffffff;
  color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;

  .logo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    color: #0071e3;
    letter-spacing: 1px;
  }

  ul {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    height: calc(100% - var(--logo-height) - 20px);
    overflow: auto;

    li {
      margin: 0.5rem 0;
      cursor: pointer;

      a {
        display: block;
        padding: 11px;
        cursor: pointer;
        color: #1d1d1f;
        text-decoration: none;
        border-radius: 6px;
        transition: background 0.2s;
        white-space: nowrap;

        .title {
          font: inherit;
          font-size: 16px;
        }

        &.active,
        &:hover {
          background: #f5f5f7;
          color: #0071e3;
        }

        .mat-icon:first-child {
          font-size: 20px !important;
          vertical-align: middle;
          margin-right: 8px;
        }

        .mat-icon.right {
          position: absolute;
          right: 12px;
        }

        .badge {
          position: absolute;
          background-color: #298abf;
          border-radius: 50%;
          height: 22px;
          min-width: 22px;
          text-align: center;
          color: white;
          line-height: 22px;
          right: 10px;
          padding: 0 3px;
        }
      }
    }

    > li {
      color: black;
      font-size: 16px;

      .menu-item-extender {
        transition: all 0.3s linear;
      }

      &.extended {
        .menu-item-extender {
          transform: rotate(180deg);
        }
      }

      &:not(.extended) {
        ul {
          height: 0 !important;
        }
      }

      > ul {
        height: 160px !important;
        transition: height 0.5s;
        overflow: hidden;
        padding-left: 30px;
        padding-right: 0;
        position: relative;

        li {
          position: relative;

          &:last-child a {
            margin-bottom: 0;
          }

          &::before {
            content: "";
            position: absolute;
            height: 138%;
            width: 14px;
            border-left: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            border-bottom-left-radius: 9px;
            margin-left: -12px;
            margin-top: -38px;
          }

          a {
            padding: 10px;
          }
        }
      }
    }
  }

  .back-store {
    text-align: center;
    padding: 8px;
    margin: 10px;
    margin-top: auto;
    margin-bottom: 18px;
    border-radius: 6px;
    background: #fee;
    color: #ef4444;
    text-decoration: none;
    font-size: 0.95rem;
    transition: background 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-icon {
      font-size: 18px;
      margin-top: 5px;
    }

    &:hover {
      background: #ffc1c1;
    }
  }
}
