<div class="admin-container scroll-container">
  <div class="form-container content-scroll form">
    <form [formGroup]="form">
      <div class="row mt-2">
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'code' | translate" [control]="form.controls.code">
            <mat-form-field appearance="outline">
              <input matInput name="code" [formControl]="form.controls.code" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'product_name' | translate" [control]="form.controls.name">
            <mat-form-field appearance="outline">
              <input matInput name="name" [formControl]="form.controls.name" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'description' | translate" [control]="form.controls.description">
            <mat-form-field appearance="outline">
              <input matInput name="description" [formControl]="form.controls.description" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'price' | translate" [control]="form.controls.price">
            <mat-form-field appearance="outline">
              <input matInput type="number" name="price" [formControl]="form.controls.price" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'discount_type' | translate" [control]="form.controls.discount_type">
            <mat-form-field appearance="outline">
              <mat-select [formControl]="form.controls.discount_type">
                @for (item of DiscountTypeEnum; track $index) {
                <mat-option [value]="item">{{ item | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'discount_value' | translate" [control]="form.controls.discount_value">
            <mat-form-field appearance="outline">
              <input matInput type="number" name="discount_value" [formControl]="form.controls.discount_value"
                min="0" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'discount_start' | translate" [control]="form.controls.discount_start">
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="pickerStart" [formControl]="form.controls.discount_start" />
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'discount_end' | translate" [control]="form.controls.discount_end">
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="pickerEnd" [formControl]="form.controls.discount_end" />
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'stock' | translate" [control]="form.controls.stock">
            <mat-form-field appearance="outline">
              <input matInput type="number" name="stock" [formControl]="form.controls.stock" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'category' | translate" [control]="form.controls.category">
            <mat-form-field appearance="outline">
              <mat-select [formControl]="form.controls.category">
                @for (category of categories; track $index) {
                <mat-option [value]="category">{{ category | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'category' | translate" [control]="form.controls.subcategory">
            <mat-form-field appearance="outline">
              <mat-select [formControl]="form.controls.subcategory">
                @for (subcategory of subcategories; track $index) {
                <mat-option [value]="subcategory">{{ subcategory | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'size' | translate | plural" [control]="form.controls.sizes">
            <mat-form-field appearance="outline">
              <mat-select [formControl]="form.controls.sizes" multiple>
                @for (size of SizeEnum; track $index) {
                <mat-option [value]="size">{{ size | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'color' | translate | plural" [control]="form.controls.colors">
            <mat-form-field appearance="outline">
              <mat-select [formControl]="form.controls.colors" multiple>
                @for (color of ColorEnum; track $index) {
                <mat-option [value]="color">{{ color | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </app-field-container>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'image' | translate" [control]="form.controls.image">
            <app-upload-image [previewUrl]="imagePreviewUrl" (imageSelected)="onImageSelected($event)">
            </app-upload-image>
          </app-field-container>
        </div>
      </div>
    </form>
  </div>
  <div class="form-actions">
    <button type="button" routerLink="/admin/products" mat-raised-button color="primary" class="cancel">
      <mat-icon>cancel</mat-icon>{{ 'cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" class="save" (click)="onSave()">
      <mat-icon>save</mat-icon>{{ updateId() ? ('update' | translate) : ('create' | translate) }}
    </button>
  </div>
</div>