<h5>
  {{ updateId() ? ('_update' | translate : { param: ('product' | translate) }) : ('_create' | translate : {param:
  ('product' | translate) } )}}
</h5>
<div class="admin-container scroll-container">
  <div class="form-container content-scroll form">
    <form [formGroup]="form">
      @if(backendError) {
      <div class="alert alert-danger mb-3">{{ backendError }}</div>
      }
      <div class="row mt-2">
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'product_name' | translate" [control]="form.controls.name">
            <mat-form-field appearance="outline">
              <input matInput name="name" [formControl]="form.controls.name" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'description' | translate" [control]="form.controls.description">
            <mat-form-field appearance="outline">
              <input matInput name="description" [formControl]="form.controls.description" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'price' | translate" [control]="form.controls.price">
            <mat-form-field appearance="outline">
              <input matInput name="price" [formControl]="form.controls.price" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'stock' | translate" [control]="form.controls.stock">
            <mat-form-field appearance="outline">
              <input matInput name="stock" [formControl]="form.controls.stock" />
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'category' | translate" [control]="form.controls.category">
            <mat-form-field appearance="outline">
              <mat-select [formControl]="form.controls.category">
                @for (category of MainCategoryEnum; track $index) {
                <mat-option [value]="category">{{ category | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'size' | translate | plural" [control]="form.controls.sizes">
            <mat-form-field appearance="outline">
              <mat-select [formControl]="form.controls.sizes" multiple>
                @for (size of SizeEnum; track $index) {
                <mat-option [value]="size">{{ size | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </app-field-container>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'color' | translate | plural" [control]="form.controls.colors">
            <mat-form-field appearance="outline">
              <input matInput name="colors" [formControl]="form.controls.colors" />
            </mat-form-field>
          </app-field-container>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6 col-md-3">
          <app-field-container [label]="'image' | translate" [control]="form.controls.image">
            <app-upload-image [previewUrl]="imagePreviewUrl" (imageSelected)="onImageSelected($event)">
            </app-upload-image>
          </app-field-container>
        </div>
      </div>
    </form>
  </div>
  <div class="form-actions">
    <button type="button" routerLink="/admin/products" mat-raised-button color="primary" class="cancel">
      {{ 'cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" class="save" (click)="onSave()" [disabled]="!imageFile">
      {{ updateId() ? ('update' | translate) : ('create' | translate) }}
    </button>
  </div>
</div>