<nav class="admin-navbar">
  <button class="notification-btn">
    <mat-icon>notifications</mat-icon>
  </button>
  <div class="lang-img" (click)="toggleLangMenu()" tabindex="0" style="position: relative;">
    <img class="mat-icon flag" [src]="'/icons/' + currentLang() + '.webp'" [alt]="'flag ' + currentLang()" />
    @if (langMenuOpen) {
    <div class="lang-dropdown">
      @for (lang of availableLangs; track $index) {
      <div class="lang-option" (click)="onChangeLanguage(lang)" [class]="{'active': currentLang() === lang}"
        tabindex="0">
        <img class="mat-icon me-2" [src]="'/icons/' + lang + '.webp'" />
        <span>{{ lang | translate }}</span>
      </div>
      }
    </div>
    }
  </div>
</nav>