<div class="admin-container scroll-container">
  <section class="content-header">
    <h5>{{'user' | translate | plural}}</h5>
  </section>
  <section class="table-header form">
    <div class="top-btn ms-auto">
      <button mat-raised-button color="primary" class="create" routerLink="create">
        <mat-icon>add</mat-icon>
        <span class="ms-1">{{ 'create' | translate }}</span>
      </button>
    </div>
  </section>
  <div class="container-table content-scroll">
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'name' | translate }}</th>
          <th>{{ 'email' | translate }}</th>
          <th>{{ 'role' | translate }}</th>
          <th>{{ 'created_at' | translate }}</th>
          <th class="action">{{ 'action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track user.id) {
        <tr>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>
            {{ user.role | translate}}
          </td>
          <td>{{ user.createdAt | date: 'dd-MM-yyyy' }}</td>
          <td class="action">
            @if(user && user.role !== RoleEnum.admin) {
            <button class="btn" mat-icon-button color="primary" class="edit" [routerLink]="[user.id, 'update']"
              type="button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete"
              (click)="deleteUser(user.id)"><mat-icon>delete_outline</mat-icon></button>
            }
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" class="text-center">{{ "no_data" | translate }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if (users.length > 0) {
  <div class="table-footer content-footer">
    <app-pagination [total]="totalCount ?? 0" [limit]="limit" [page]="page"
      (changed)="getList($event)"></app-pagination>
  </div>
  }
</div>