<div class="orders-page">
  <h1>{{ 'my_orders' | translate }}</h1>
  @if (orders.length === 0) {
  <div class="text-[#64748b] mt-[1.5rem]">{{ 'no_orders_yet' | translate }}</div>
  } @else {
  <table class="orders-table">
    <thead>
      <tr>
        <th>{{ 'order_number' | translate }}</th>
        <th>{{ 'date' | translate }}</th>
        <th>{{ 'status' | translate }}</th>
        <th>{{ 'total' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (order of orders; track $index) {
      <tr>
        <td>
          {{ $index + 1 }}
        </td>
        <td>{{ order.created_at | date:'mediumDate' }}</td>
        <td>{{ order.status | translate}}</td>
        <td>${{ order.total_amount }}</td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>