<div class="admin-container scroll-container">
  <section class="content-header">
    <h5>{{'inventory' | translate | plural}}</h5>
  </section>
  <section class="table-header form">
    <div class="top-btn ms-auto">
      <button mat-flat-button color="primary" class="new" routerLink="/admin/inventory/new" type="button">
        <mat-icon>add</mat-icon>
        <span class="ms-1">{{'create' | translate}}</span>
      </button>
    </div>
  </section>
  <div class="container-table content-scroll">
    <table class="table">
      <thead>
        <tr>
          <th class="number">{{'no.' | translate}}</th>
          <th>{{'product_code' | translate}}</th>
          <th>{{'quantity' | translate}}</th>
          <th>{{'location' | translate}}</th>
          <th>{{'updated_at' | translate}}</th>
          <th class="action">{{'action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        @for (item of inventories; track item.id) {
        <tr>
          <td class="number">{{ ($index + 1 + ((page - 1) * limit)) }}</td>
          <td>{{ item.productId }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.location }}</td>
          <td>{{ item.updatedAt | date:'short' }}</td>
          <td class="action">
            <button class="btn" mat-icon-button color="primary" class="edit"
              [routerLink]="['/admin/inventory', item.id, 'edit']" type="button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete" (click)="deleteItem(item.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">{{ "no_data" | translate }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if (inventories.length > 0) {
  <div class="table-footer content-footer">
    <app-pagination [total]="totalCount ?? 0" [limit]="limit" [page]="page"
      (changed)="getList($event)"></app-pagination>
  </div>
  }
</div>