.scroll-container {
  height: calc(100% - 18px);
  padding: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  .content-header {
    margin: 0 0 12px 0;

    .mat-button-base {
      z-index: 1;
    }
  }

  .content-scroll {
    max-height: 100%;
    overflow: auto;

    .table-x-scroll {
      overflow-x: auto;
      overflow-y: visible;
      width: 100%;
      -webkit-overflow-scrolling: touch;
    }

    &:has(tr:first-child:last-child):not(:has(thead)),
    &:has(tbody:empty) {
      height: 100%;
      position: relative;

      table.table {
        position: initial;

        &::after {
          min-height: 200px;
        }

        tr th {
          position: initial;
        }
      }
    }

    table.table>tr:first-child,
    table.table>thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    table.table .action {
      position: sticky;
      right: -10px;
    }
  }
}