@use "../variables" as *;

.default-snackbar {
  font-family: "SegoeUI", "KhmerOSBattambang" !important;
  display: flex !important;
  text-align: center !important;
  justify-content: center !important;
  border-radius: 6px !important;
}

.panel-default {
  @extend .default-snackbar;
  background-color: $black-color !important;
  color: $white-color;

  --mdc-snackbar-container-color: $grey-color !important;
  --mdc-snackbar-supporting-text-color: $white-color !important;
  --mat-mdc-snack-bar-button-color: $white-color !important;
}

.panel-success {
  @extend .default-snackbar;
  background-color: $primary-color !important;
  color: $white-color;

  --mdc-snackbar-container-color: $primary-color !important;
  --mdc-snackbar-supporting-text-color: $white-color !important;
  --mat-mdc-snack-bar-button-color: $white-color !important;
}

.panel-error {
  @extend .default-snackbar;
  background-color: $rejected-color !important;
  color: $white-color;

  --mdc-snackbar-container-color: $rejected-color !important;
  --mdc-snackbar-supporting-text-color: $white-color !important;
  --mat-mdc-snack-bar-button-color: $white-color !important;
}

.panel-warning {
  @extend .default-snackbar;
  background-color: $pending-color !important;
  color: $white-color;

  --mdc-snackbar-container-color: $pending-color !important;
  --mdc-snackbar-supporting-text-color: $white-color !important;
  --mat-mdc-snack-bar-button-color: $white-color !important;
}
