<div class="admin-container scroll-container">
  <section class="table-header d-flex align-items-center justify-content-between">
    <div class="d-flex gap-2 align-items-center form">
      <app-field-container [label]="'search' | translate" [control]="form.controls.name">
        <mat-form-field appearance="outline" class="filter-field">
          <input matInput name="q" appInputBouncer (keyUpBouncer)="onSearch($event)" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </app-field-container>
      <app-field-container [label]="'date' | translate" [control]="form.controls.date">
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="datepicker" [formControl]="form.controls.date"
            (dateChange)="onDateChange($event.value)" [value]="form.controls.date.value | date:'dd-MM-yyyy'" />
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </app-field-container>
    </div>
  </section>
  <div class="container-table content-scroll">
    <table class="table">
      <thead>
        <tr>
          <th class="number">{{ 'no.' | translate }}</th>
          <th>{{ 'code' | translate }}</th>
          <th>{{ 'customer' | translate }}</th>
          <th>{{ 'total' | translate }}</th>
          <th>{{ 'date' | translate }}</th>
          <th>{{ 'status' | translate }}</th>
          <th class="action">{{ 'action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (order of orders; track order._id) {
        <tr>
          <td class="number">{{ ($index + 1 + ((page - 1) * limit)) }}</td>
          <td>#{{ order.code }}</td>
          <td>{{ order.user?.first_name }} {{ order.user?.last_name }}</td>
          <td>${{ order.total_amount }}</td>
          <td>{{ order.created_at | date: 'dd-MM-yyyy' }}</td>
          <td class="status" [class]="order.status">
            {{ order.status | translate }}
          </td>
          <td class="action">
            <a mat-icon-button [routerLink]="[order._id]" class="view"><mat-icon>visibility</mat-icon></a>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">{{ "no_data" | translate }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if (orders.length > 0) {
  <div class="table-footer content-footer">
    <app-pagination [total]="totalCount ?? 0" [limit]="limit" [page]="page"
      (changed)="getList($event)"></app-pagination>
  </div>
  }
</div>