<div class="skeleton-list">
  @for (n of [].constructor(count); track n) {
  <div class="skeleton-card">
    <div class="skeleton-product-image"></div>
    <div class="skeleton-product-info">
      <div class="skeleton-line name"></div>
      <div class="skeleton-line desc"></div>
      <div class="skeleton-line desc short"></div>
      <div class="skeleton-product-footer">
        <div class="skeleton-line price"></div>
        <div class="skeleton-line stock"></div>
      </div>
    </div>
  </div>
  }
</div>