@if (control()?.touched && control()?.errors; as errors) {
@if (errors["required"]) {
<mat-error [@enterAnimation]>
  {{ customMessage()["required"] || "message.required" | translate }}
</mat-error>
} @else if (errors["max"]) {
<mat-error [@enterAnimation]>
  {{
  customMessage()["max"] || "message._invalid_max_value"
  | translate: { max: errors["max"].max }
  }}
</mat-error>
} @else if (errors["min"]) {
<mat-error [@enterAnimation]>
  {{
  customMessage()["min"] || "message._invalid_min_value"
  | translate: { min: errors["min"].min }
  }}
</mat-error>
} @else if (errors["message"]) {
<mat-error [@enterAnimation]>
  {{ errors["message"] | translate }}
</mat-error>
}
} @else {
<ng-content></ng-content>
}