<nav class="admin-sidebar" [class.collapsed]="collapsed">
  <div class="flex items-center justify-center py-[16px] logo">
    <img src="/imgs/logo.png" alt="" class="w-[65px] h-[65px] logo-img" />
  </div>
  <ul>
    @for (item of menu; track $index) {
    <li [class]="{ extended: item.extended }">
      <a class="menu" [routerLink]="
            !item.children || item.children.length == 0 ? item.route : null
          " (click)="item.children?.length && onToggleExtendMenuItem(item)" [class.active]="isActive(item.route)">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="title">
          {{
          item.title === "dashboard"
          ? (item.title | translate)
          : (item.title | translate | plural)
          }}
        </span>
        @if (item.children && item.children.length > 0) {
        <mat-icon class="right menu-item-extender">keyboard_arrow_down</mat-icon>
        }
      </a>
      @if (item.children && item.children.length > 0) {
      <ul [style]="{
              height:
                (item.extended ? (item.children.length || 0) * 49 : 0) + 'px',
            }">
        @for (m of item.children; track $index) {
        <li [class.active]="isActive(m.route)">
          <a [routerLink]="m.route" [class.active]="isActive(m.route)">
            {{
            m.title === "site_info"
            ? (m.title | translate)
            : (m.title | translate | plural)
            }}
            @if (m.badge) {
            <span class="badge">{{ m.badge }}</span>
            }
          </a>
        </li>
        }
      </ul>
      }
    </li>
    }
    <div class="divider"></div>
    <li>
      <a routerLink="/" class="back-store">
        <mat-icon>autorenew</mat-icon>
        <span class="title">{{ "back_to_store" | translate }}</span>
      </a>
    </li>
  </ul>
</nav>