<div class="admin-container scroll-container">
  <section class="content-header">
    <h5>{{'product' | translate | plural}}</h5>
  </section>
  <section class="table-header form">
    <div class="top-btn mb-3 ms-auto">
      <button class="btn" mat-flat-button color="primary" class="new" routerLink="/admin/products/new" type="button">
        <mat-icon>add</mat-icon>
        <span class="ms-1">Create</span>
      </button>
    </div>
  </section>
  <div class="container-table content-scroll">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id) {
        <tr>
          <td>{{ ($index + 1 + ((page - 1) * limit))}}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <button class="btn" mat-icon-button color="primary" class="new"
              [routerLink]="['/admin/products', product.id, 'edit']" type="button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete" (click)="deleteProduct(product.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if (products.length > 0) {
  <div class="table-footer content-footer">
    <app-pagination [total]="totalCount ?? 0" [limit]="limit" [page]="page"
      (changed)="getList($event)"></app-pagination>
  </div>
  }
</div>