<div class="admin-container scroll-container">
  <div class="form-container content-scroll">
    <div class="flex items-center justify-between w-full">
      <span class="order-badge">#{{ order()?._id }}</span>
      <mat-chip class="status-chip status-{{ status }}" selected>
        <div class="flex items-center justify-center">
          <mat-icon class="mr-1">assignment</mat-icon>
          {{ status | translate }}
        </div>
      </mat-chip>
    </div>
    <div class="flex items-center my-4">
      <mat-icon class="mr-1">calendar_today</mat-icon>
      {{ order()?.created_at | date: 'dd-MM-yyyy HH:mm' }}
    </div>
    <h3 class="flex items-center"><mat-icon class="mr-1">timeline</mat-icon> {{ 'order_progress' | translate }}</h3>
    <div class="order-status-stepper">
      <div class="stepper-track"></div>
      <div class="step" [class.completed-step]="['processing','shipped','delivered'].includes(status)"
        [class.active-step]="status === 'pending'" [class.cancelled-step]="status === 'cancelled'">
        <div class="step-dot"></div>
        <span>{{ 'pending' | translate }}</span>
      </div>
      <div class="step" [class.completed-step]="['shipped','delivered'].includes(status)"
        [class.active-step]="status === 'processing'" [class.cancelled-step]="status === 'cancelled'">
        <div class="step-dot"></div>
        <span>{{ 'processing' | translate }}</span>
      </div>
      <div class="step" [class.completed-step]="['delivered'].includes(status)"
        [class.active-step]="status === 'shipped'" [class.cancelled-step]="status === 'cancelled'">
        <div class="step-dot"></div>
        <span>{{ 'shipped' | translate }}</span>
      </div>
      <div class="step" [class.completed-step]="status === 'delivered'" [class.active-step]="status === 'delivered'"
        [class.cancelled-step]="status === 'cancelled'">
        <div class="step-dot"></div>
        <span>{{ 'delivered' | translate }}</span>
      </div>
      <div class="step cancelled-step" [class.active-step]="status === 'cancelled'">
        <div class="step-dot"></div>
        <span>{{ 'cancelled' | translate }}</span>
      </div>
    </div>
    <div class="info-cards my-4">
      <div class="info-card">
        <div class="card-head">
          <div class="icon-circle bg-blue-50 text-blue-600"><mat-icon>person</mat-icon></div>
          <div class="card-title">{{ 'customer' | translate }}</div>
        </div>
        <div class="card-body">
          <div>
            <div class="flex items-center gap-2">
              <div class="card-subtitle">
                {{ 'name' | translate }}:
              </div>
              {{ order()?.user?.first_name | titlecase }} {{ order()?.user?.last_name | titlecase }}
            </div>
            <div class="flex items-center gap-2">
              <div class="card-subtitle">{{ 'email' | translate }}:</div> {{ order()?.user?.email }}
            </div>
          </div>
        </div>
      </div>
      <div class="info-card">
        <div class="card-head">
          <div class="icon-circle bg-green-50 text-green-600"><mat-icon>local_shipping</mat-icon></div>
          <div class="card-title">{{ 'shipping' | translate }}</div>
        </div>
        <div class="card-body">
          <div>
            <div class="card-subtitle">{{ 'shipping_address' | translate }}:</div>
            <div class="truncate">{{ order()?.shipping_address }}, {{ order()?.shipping_city }}, {{
              order()?.shipping_postal_code }}, {{ order()?.shipping_country }}</div>
          </div>
        </div>
      </div>
      <div class="info-card">
        <div class="card-head">
          <div class="icon-circle bg-yellow-50 text-yellow-700"><mat-icon>update</mat-icon></div>
          <div class="card-title">{{ 'status' | translate }}</div>
        </div>
        <div class="card-body">
          <div class="status-label-group">
            <mat-select class="w-full border border-gray-300 rounded-md h-[40px] p-2" [value]="status"
              (selectionChange)="updateStatus($event.value)">
              @for (item of statusOptions; track $index) {
              <mat-option [value]="item">{{ item | translate }}</mat-option>
              }
            </mat-select>
          </div>
        </div>
      </div>
      <div class="info-card">
        <div class="card-head">
          <div class="icon-circle bg-indigo-50 text-indigo-600"><mat-icon>credit_card</mat-icon></div>
          <div class="card-title">{{ 'payment' | translate }}</div>
        </div>
        <div class="card-body">
          <div>
            <span>{{ order()?.payment_method ? (order()?.payment_method | titlecase) : 'N/A' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="summary">
      <span><strong>{{ 'total' | translate }}:</strong> {{ order()?.total_amount | currency }}</span>
    </div>
    <h3 class="flex items-center"><mat-icon class="mr-1">shopping_cart</mat-icon> {{ 'item' | translate | plural }}</h3>
    <div class="container-table mt-2">
      <table class="table">
        <thead>
          <tr class="table-header-row">
            <th class="number">{{ 'no.' | translate }}</th>
            <th>{{ 'product' | translate }}</th>
            <th>{{ 'image' | translate }}</th>
            <th>{{ 'quantity' | translate }}</th>
            <th>{{ 'price' | translate }}</th>
            <th>{{ 'subtotal' | translate }}</th>
            <th>{{ 'size' | translate }}</th>
            <th>{{ 'color' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (item of order()?.items; track $index) {
          <tr>
            <td class="number">{{ $index + 1 }}</td>
            <td>
              <a [routerLink]="['/products', item.product_id]" target="_blank"
                class="product-link highlight-link table-link">{{
                item.product_name }}</a>
            </td>
            <td><img [src]="item.product_image" alt="{{ item.product_name }}" class="product-avatar" /></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price | currency }}</td>
            <td>{{ item.price * item.quantity | currency }}</td>
            <td>{{ item.size }}</td>
            <td>{{ item.color }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>